.uls-partner {
  box-sizing: border-box;
}

.uls-partner__constrain {
  max-width: 1234px;
  margin: 0 auto;
  padding: 30px 10px 40px 10px;
  overflow: hidden;
}

.uls-partner__logo-main-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.uls-partner__lede {
  margin-bottom: 60px;
}

.uls-partner__lede h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  line-height: 28px;
  letter-spacing: 0;
}

.uls-partner__lede h2:after,
.uls-partner__lede h2:before {
  content: '';
  display: inline-block;
  height: 6px;
  position: relative;
  top: -7px;
}

.uls-partner--style-dark .uls-partner__lede h2:after,
.uls-partner--style-dark .uls-partner__lede h2:before {
  border-bottom: 1px solid #fff;
}

.uls-partner--style-light .uls-partner__lede h2:after,
.uls-partner--style-light .uls-partner__lede h2:before {
  border-bottom: 1px solid #000;
}

.uls-partner__lede h2:before {
  right: 20px;
}

.uls-partner__lede h2:after {
  left: 20px;
}

@media (max-width: 1060px) {
  .uls-partner__lede h2 {
    padding-bottom: 30px;
  }

  .uls-partner--style-dark .uls-partner__lede h2 {
    border-bottom: 1px solid #fff;
  }

  .uls-partner--style-light .uls-partner__lede h2 {
    border-bottom: 1px solid #000;
  }
}

@media (min-width: 1060px) and (max-width: 1199px) {
  .uls-partner__lede h2:after,
  .uls-partner__lede h2:before {
    width: 190px;
  }
}

@media (min-width: 1200px) {
  .uls-partner__lede h2:after,
  .uls-partner__lede h2:before {
    width: 250px;
  }
}

.uls-partner__grid {
  display: flex;
  flex-wrap: wrap;
}

.uls-partner__item {
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (min-width: 480px) and (max-width: 767px) {
  .uls-partner__item {
    flex-basis: 50%;
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1059px) {
  .uls-partner__item {
    flex-basis: 33.33%;
    width: 33.33%;
  }
}

@media (min-width: 1060px) and (max-width: 1199px) {
  .uls-partner__item {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .uls-partner__item {
    flex-basis: 20%;
    width: 20%;
  }
}

.uls-partner__link {
  display: block;
  cursor: pointer;
  height: 46px;
}

.uls-partner--style-dark {
  background-color: #000;
}

.uls-partner--style-light {
  background-color: #f2f2f2;
}

img.uls-partner__media {
  margin: 0;
  vertical-align: inherit;
  line-height: 0;
  border: 0;
  height: auto;
}

.uls-partner__item--learninglab img.uls-partner__media {
  position: relative;
  top: -8px;
}

.uls-partner__item--climatelinks img.uls-partner__media {
  position: relative;
  top: -4px;
}

.uls-partner--style-dark img.uls-partner__media {
  filter: saturate(0%) brightness(4);
}

.uls-partner--style-light img.uls-partner__media:hover,
.uls-partner--style-dark img.uls-partner__media:hover {
  filter: none;
}

.uls-partner--style-light img.uls-partner__media {
  filter: saturate(0%);
}

.uls-partner__text p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 14px;
  margin-top: 0;
  letter-spacing: 0;
}

.uls-partner--style-dark h2,
.uls-partner--style-dark p {
  color: #fff;
}

.uls-partner--style-light h2,
.uls-partner--style-light p {
  color: #000;
}

.uls-partner--edge-to-edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;
  overflow: hidden;
}
